/* Styles for app */
.links {
    width: 100%;
     text-align: center;
}

.thank-you {
    text-align: center;
}

.searchbox {
    width: 100%;
}

.search {
    width: 96%;
    margin: 0 auto;
}

label[for="search-field"] {
    color: #ff0000;   
}
